<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utils</title>
</head>
<body>
    <h1>Text Analyzer</h1>
    <form action="/analyzer/" method="get">
        <textarea name="djtext" id="djtext" cols="30" rows="10" style="margin: 0px; width: 1376px; height: 263px;"></textarea><br>
        <input type="checkbox" name="option1"> Remove punctuation <br>
        <input type="checkbox" name="option2"> Capitalized First <br>
        <input type="checkbox" name="option3"> New Line Remove <br>
        <input type="checkbox" name="option4"> Space Remover <br>
        <input type="checkbox" name="option5"> Char count <br> <br>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>